.activityTable{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.pagination{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
}
.table{
    display: flex;
    flex-direction: column;
    .recent_act_table_body{
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &>div>div{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr .5fr;
        
    }
    .headers{
        color: var(--Table-Heading, #5A5D61);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr .5fr;
        font-family: "Be Vietnam Pro";
        font-size: 14px;
        font-weight: 500;
        line-height: 160%; /* 22.4px */
        &>div:first-child{
            padding-left: 23px;
        }
        &>div:last-child{
            display: flex;
            justify-content: flex-end;
            padding-right: 4px;
            &>img{
                width: 8px;
                height: 8px;
            }
        }

    }
    .user-row:not(:last-child){
        border-bottom: 1px solid #E5E8EF;
    }
    .user-row{
        padding: 16px 0;
        &>div{
            display: flex;
            // align-items: center;
            
        }
        .user-pp{
            // justify-content: center;
            &>img{
                width: 52px;
                height: 52px;
                border-radius: 100%;
            }
        }
        .name-phone{
            display: flex;
            flex-direction: column;
            &>p:first-child{
                color: var(--Text, #222427);
                font-weight: 500;
                line-height: 160%; /* 25.6px */
            }
            &>p:last-child{
                color: var(--Paragraph, #747684);
                font-size: 14px;
                line-height: 160%; /* 22.4px */
            }
        }
        .udate>span,.ucompany>span{
            color: var(--Paragraph, #747684);
            font-size: 14px;
            line-height: 160%; /* 22.4px */
            display: flex;
            align-items: center;
        }
        .status{
            display: flex;
            align-items: center;
        }
        .status>div{
            border-radius: 50px;
            padding: 4px 16px;
            display: flex;
            align-items: center;
            column-gap: 4px;
            height: 30px;
        }
        
        .edit_menu{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &>img{
                width: 16px;
                height: 16px;
            }
        }
    }

}

.LOW_status{
    border: 1px solid rgba(241, 94, 84, 0.50);
    background: rgba(241, 94, 84, 0.10);
    &>div:last-child{
        color: #F15E54;
        font-size: 14px;
    }
    .circle{background-color: #F15E54;}
}
.MEDIUM_status{
    border: 1px solid rgba(255, 133, 21, 0.50);
    background: rgba(255, 133, 21, 0.10);
    &>div:last-child{
        color: #FF8515;
        font-size: 14px;
    }
    .circle{background-color: #FF8515;}
}
.HIGH_status{
    border: 1px solid rgba(34, 195, 20, 0.60);
    background: rgba(34, 195, 20, 0.10);
    &>div:last-child{
        color: #5AD81F;
        font-size: 14px;
    }
    .circle{background-color: #5AD81F;}
}
.circle{
    width: 10px;
    height: 10px;
    display: flex;
    border-radius: 100%;
}
@media screen and (max-width:800px) {
    .headers{
        display: none !important;
    }
    .table>div>div{
        border: 1px solid #EFF2F4;
    }
}
.mobile-user-row{
    width: 100%;
    border-radius: 16px;
    background: #FFF;
    margin-bottom: 16px;
    padding: 16px;
    row-gap: 12px;
    display: flex !important;
    flex-direction: column;
    .profile-details{
        display: flex;
        column-gap: 16px;
        &>img{
            width: 52px;
            height: 52px;
            border-radius: 100%;

        }
        .na-ph{
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            justify-content: space-between;
            &>p:first-child{
                color: var(--Text, #222427);
                font-size: 14px;
                font-weight: 600;
                line-height: 160%; /* 22.4px */
            }
            &>p:last-child{
                color: var(--Paragraph, #747684);
                font-size: 12px;
                font-weight: 500;
                line-height: 160%;
            }
        }
        &~div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .status{
                display: flex;
                align-items: center;
                .circle{
                    width: 8px !important;
                    height: 8px !important;
                    &+div{
                        font-size: 12px !important;
                    }
                }
            }
            .status>div{
                border-radius: 50px;
                padding: 5px;

                column-gap: 4px;
                display: flex;
                padding: 4px 8px;
                align-items: center;
            }

        }
    }
}
.fonter{
    &>span:first-child,&+div>span:first-child{
        color: var(--Table-Heading, #5A5D61);
        font-size: 12px;
        font-weight: 500;
        line-height: 160%;
    }
    &>span:last-child{
        color: var(--Paragraph, #747684);
        text-align: right;
        font-size: 12px;
        line-height: 160%;
    }
}