
.add-div{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    .add-head{
        color: var(--Foundation-Blue-B500, #42526D);
        font-size: 20px;
        font-weight: 600;
        line-height: 140%; 
        margin-bottom: 16px;
    }
    .items{
        width: 100%;
        display: flex;
        column-gap: 12px;
        overflow-x: auto;
        .item{
            transition: .15s ease-in-out all;
            width: 25%;
            min-width: 150px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            padding: 16px;
            border-radius: 16px;
            border: 1px solid var(--Foundation-Blue-B40, #DFE2E6);
            &>div{
                &>p:first-child{
                    color: #222427;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 140%;
                }
                &>p:last-child{
                    color: var(--Paragraph, #747684);
                    font-size: 12px;
                    line-height: 160%;
                }
            }
            &>span{
                width: 40px;
                height: 40px;
                border-radius: 10px;
                background: #ECF1FF;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover{
                border-color:#2C60EA;
                cursor: pointer;
            }
        }
    }
}
.sItem{
    border: 1px dashed #2C60EA !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    .item{
        &>div{
            &>p:first-child{
                color: #222427;
                font-size: 15px !important;
                font-weight: 500;
                line-height: 140%;
            }
            &>p:last-child{
                color: var(--Paragraph, #747684);
                font-size: 11px !important;
                line-height: 160%;
            }
        }
    }
}