.calendar_viewer_div {
    width: calc(100% - 260px);
    padding: 32px;
    background-color: aliceblue;
    overflow-y: auto;
    transition: all .2s ease-in-out !important;
    &>div{
        background-color: white;
        padding: 25px;
        border-radius: 20px;
        transition: all .2s ease-in-out !important;
    }
}
@media screen and (max-width:1024px) {
    .calendar_viewer_div{
        width: calc(100% - 90px) !important;
    }
}
@media screen and (max-width:800px) {
    .calendar_viewer_div{
        width: 100% !important;
    }
}

#root>div>div.menu_main>div.calendar_viewer_div>div>div>div>div.mbsc-calendar-wrapper.mbsc-flex-col.mbsc-ios.mbsc-calendar-wrapper-fixed.mbsc-flex-none>div.mbsc-calendar-header.mbsc-ios>div {
    background-color: white;
}
#root > div > div.menu_main > div.home-main-div > div.chart-cal-div > div.calendar-div > div.MuiDateCalendar-root.css-1q04gal-MuiDateCalendar-root{
    margin-bottom: 0 !important;
}
#root>div>div.menu_main>div.calendar_viewer_div>div>div>div {
    border-radius: 10px;
}

.today {
    .mbsc-schedule-header-item {
        display: block;
    }

    .mbsc-schedule-time {
        position: relative;
        top: 30%;
    }
}

.type_changer {
    margin-bottom: 37px;
    border-radius: 24px;
    border: 1px solid var(--Stock, #E5E8EF);
    padding: 4px;
    display: flex;
    width: fit-content;
    button {
        display: flex;
        padding: 4px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 18px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 160%;
        color: #747684;
        background-color: white;
    }
}

.active_button {
    background: var(--Button, #2C60EA) !important;
    color: #FFF !important;
}
@media screen and (max-width:400px) {
    .type_changer{
        flex-direction: column !important;
        row-gap: 3px;
        width: 100%;
    }
}
#root > div > div.menu_main > div.calendar_viewer_div > div > div:nth-child(2) > div > div > div.mbsc-calendar-wrapper.mbsc-flex-col.mbsc-ios.mbsc-calendar-wrapper-fixed.mbsc-flex-none > div.mbsc-calendar-body.mbsc-flex-col.mbsc-flex-1-1.mbsc-ios > div > div > div > div:nth-child(1) > div > div.mbsc-calendar-slide.mbsc-calendar-slide-active.mbsc-ios.mbsc-ltr > div > div > div.mbsc-calendar-cell.mbsc-flex-1-0-0.mbsc-calendar-day.mbsc-ios.mbsc-ltr.mbsc-calendar-day-marked.mbsc-selected > div:nth-child(1) > div{visibility: hidden !important}
#root > div > div.menu_main > div.calendar_viewer_div > div > div:nth-child(2) > div > div > div.mbsc-flex-col.mbsc-flex-1-1.mbsc-schedule-wrapper.mbsc-ios > div.mbsc-flex.mbsc-flex-1-1.mbsc-schedule-grid-wrapper.mbsc-ios > div.mbsc-flex-col.mbsc-schedule-time-col.mbsc-schedule-time-cont.mbsc-ios.mbsc-ltr > div > div.mbsc-flex-col.mbsc-flex-1-1 > div.mbsc-flex-1-1.mbsc-schedule-time-cont-pos.mbsc-ios.mbsc-flex-col.mbsc-schedule-time-col-last > div.mbsc-flex-col.mbsc-flex-1-0.mbsc-schedule-time-wrapper.mbsc-ios.mbsc-ltr.mbsc-schedule-time-wrapper-end > div.mbsc-schedule-time.mbsc-schedule-time-end.mbsc-ios.mbsc-ltr{display: none;}
#root > div > div.menu_main > div.calendar_viewer_div > div > div:nth-child(2) > div > div > div.mbsc-flex-col.mbsc-flex-1-1.mbsc-schedule-wrapper.mbsc-ios > div.mbsc-flex.mbsc-flex-1-1.mbsc-schedule-grid-wrapper.mbsc-ios > div.mbsc-flex-col.mbsc-flex-1-1.mbsc-schedule-grid-scroll.mbsc-ios{overflow-y: hidden;}