.tabs-div{
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    &>div{
        width: 25%;
        min-height: 236px;
        padding: 20px;
        flex-shrink: 0;
        border-radius: 24px;
        background: var(--Foundation-Blue-B0, #FFF);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &>div{
            display: flex;
            align-items: center;
            column-gap: 16px;
            &>p{
                color: var(--Text, #222427);
                font-size: 20px;
                font-weight: 600;
                line-height: 140%;
                width: fit-content;
            
            }

        }
        &>p{
            color: var(--Paragraph, #747684);
            font-size: 14px;
            line-height: 160%;
            margin-top: 20px;
            margin-bottom: 12px;
            // width: 186px;
            // word-break: break-all !important;
            // white-space: pre-wrap !important;
            
        }
        &>.css-sghohy-MuiButtonBase-root-MuiButton-root{
            width: fit-content !important;
            padding: 8px 16px !important;
            border-radius: 32px !important;
            color: var(--Text-input, #717478);
            box-shadow: none;
            border-radius: 32px;
            border: 1px solid #E5E8EF;
            background-color: white !important;
            font-size: 12px;
            line-height: 160%; 
            // white-space: nowrap;
            &:hover{
                background-color: #2C60EA !important;
                color: white;
            }
        }
    }
}
.special{
    word-break: break-all !important;
}
@media screen and (max-width:1280px) {
    .tabs-div > div > div{
        column-gap: 12px;
    }
    .tabs-div > div > div > p{
        font-size: 16px;
    }
}
@media screen and (max-width:1024px){
    .tabs-div{
        width: 100%;
        flex-wrap: wrap !important;
        row-gap: 20px;
        &>div{
            width: calc((100% - 20px)/2) !important;
            min-height: 214px;
        }
    }
}
@media screen and (max-width:800px) {
    .tabs-div{
        width: 100%;
        flex-wrap: wrap;
        row-gap: 20px;
        &>div{
            width: calc((100% - 20px)/2);
        }
    }
}
@media screen and (max-width:425px) {
    .tabs-div{
        width: 100%;
        flex-wrap: wrap;
       
        &>div{
            width: 100%;
        }
    }
}