.sidemenu-div{
    span.item{
        width: 20px;
        height: 20px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    padding: 16px;
    width: 260px;
    overflow-x: hidden;
    transition: width .2s ease-in-out;
    .logo{
        padding-top: 10px;
        padding-bottom: 26px;
    }
    .account{
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        
           div{
                &:hover{cursor: pointer;border: 1px solid #E5E8EF;}
                padding: 12px 20px;
                border-radius: 32px;
                border: 1px solid transparent;
                display: flex;
                align-items: center;
                column-gap: 8px;
                transition: all .2s ease-in-out;
                &>span:last-child{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 160%;
                    color: var(--Paragraph, #747684);
                }
            }
        }
    }

.a{
    color: var(--Navbar-Upper-case, #5A5D61);
            font-size: 12px;
            font-weight: 500;
            line-height: 160%; /* 19.2px */
            letter-spacing: 0.6px;
            text-transform: uppercase;
}
.settModal::before{
    content: '';
    position: absolute;
    display: flex;
    left: 248px;
    top: 475px; 
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    
    border-right:30px solid white; 
}
.setting_modal_pc{
    display: flex;
    flex-direction: column;
    p{
        color: var(--Text, #222427);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
    }
    .set_modal_head{
        padding: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        &>h2{
            color: var(--Text, #222427);

            /* H 5 */
            font-family: "Be Vietnam Pro";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 19.6px */
        }
        &>button{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 1px solid #EEF2FB;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .div_line{
        width: 100%;
        height: 1px;
        background-color: #E5E8EF;
    }
    // .last_line{
    //     margin-bottom: 12px;
    // }
    .settings_content{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
    .menu_items_setting{
        display: flex;
        align-items: center;
        column-gap: 8px;
        width: 100%;
        padding: 12px 20px;
        border-radius: 20px;
        &:hover{cursor: pointer;background-color: #E5E8EF;}
        
    }
    .mis{
        padding: 20px;
        &>p{
            color: #F15E54;
        }
    }
}
.language{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12px 20px;
    column-gap: 10px;
    &>button{
        display: flex;
        column-gap: 6px;
        &:hover{
            background-color: #bebebe !important;
        }
    }
}
.active-menu{
    &>span:last-child{
        color: #2C60EA !important;
    }
    border: 1px solid #2C60EA !important;
    background: #EEF2FB;
    svg{
        fill: #2C60EA;
        path{
            fill: #2C60EA;
        }
    }
    .bl{
        stroke: #2C60EA;
    }
}
.help{
    &>p{
        padding-bottom: 16px;
        padding-left: 20px;
        color: var(--Navbar-Upper-case, #5A5D61);
        font-size: 12px;
        font-weight: 500;
        line-height: 160%; /* 19.2px */
        letter-spacing: 0.6px;
        text-transform: uppercase;
        margin-top: 40px;
    }
}
.language{
    .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
        padding: 3px !important;
        min-width: 40px !important;
        border-radius: 10px !important;
        border-color: #5A5D61 !important;
        color: #5A5D61 !important;
        &:hover{
            background-color: #989ea5;
        }
    }
}


@media screen and (max-width:1024px) {
    .settModal::before{
        left: 85px;
        top: 458px; 
    }


    .sidemenu-div{
        width: 96px;
    }
    .language{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding: 0 !important;
    }
    
    .account{
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        &>p{
            color: var(--Navbar-Upper-case, #5A5D61);
            font-size: 12px !important;
            padding-bottom: 10px !important;
            padding-left: 0 !important;
            &~div:not(.bbc){
                padding: 12px 20px !important;
                width: 60px;
                height: 52px;
                border-radius: 12px !important;
                border: none !important;
                
                &>span:last-child{
                    transition: all .2s ease-in-out;
                    transform: scale(0);
                }
            }
        }
        &>.item>span:last-child{
            display: none;
        }
    }

    .active-menu{
        position: relative;

        &:before{
            content: "";
            width: 4px;
            height: 38px;
            border-radius: 12px;
            background-color: #2C60EA;
            position: absolute;
            display: flex;
            left: -16px;
        }
    }
    .bbc{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 !important;
    }
}
#root > div > div.menu_main > div.sidemenu-div > div.account > div:nth-child(10) > span.item{
    display: flex;
    align-items: center;
    justify-content: center;
}
// import { obj } from "../exportedArrays";
#root > div > div.menu_main > div.sidemenu-div > div.account > div:nth-child(8) > span.item{
    display: flex;
    align-items: center;
    justify-content: center;
}
